<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/css/login.css" rel="stylesheet">
</head>

<body>
    <form action="/login" method="post">
        <h4>Please sign in</h4>
        <input type="text" class="form-control" name="username" placeholder="User name" required="" autofocus="">
        <input type="password" class="form-control" name="password" placeholder="Password" required="">
        <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <a class="btn btn-primary btn-block" href="/register">Register</a>
    </form>
    <script src="../public/js/jquery-3.1.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/login.js"></script>
</body>

</html>